<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shopfloor">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/idoplat"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/idoplat"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.EditOpenDocActivity"></activity>
        <activity
            android:name=".Activity.ResultScanRejectActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activity.ScanRejectActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activity.ResultScanActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activity.ScanActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activity.KonfigurasiActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activity.EditRejectActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activity.DetailSuccDocActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activity.CriteriaQCActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activity.OutQtyDetActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".Activity.RejectListActivity" />
        <activity
            android:name=".Activity.RespRejectFragActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activity.RejectActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".CriteriaActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activity.AddSeq1Activity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activity.AddSeqActivity"
            android:label="@string/title_activity_add_seq"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.SequenceListActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activity.PilihWCActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activity.ProductorderListActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activity.DetailOpenDocActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activity.SuccessDocActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activity.Open_DocActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activity.Add_DocActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activity.StartDocActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activity.WorkcenterListActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activity.HomeActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.SEARCH" />
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
    </application>

</manifest>